.Answers {
    padding: 2rem;
    flex-grow: 1;
    overflow-x: scroll;
}

.Answer {
    border: 2px solid #FCFAF9;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    background-color: #0D1B1E;
    margin: 1rem 0;
}

.Answer p {
    margin: 10px 0;
}

.Answer .actions {
    display: flex;
}

.Answer .actions button {
    margin: 1rem;
}