* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #364652;
  color: #FCFAF9;
  font-family: 'Roboto', sans-serif;
}

.App {
  position: relative;
}

.header-logo {
  font-family: 'Roboto';
  text-transform: uppercase;
  letter-spacing: 2vw;
}

button {
  font-family: 'Roboto';
  width: 100%;
  background-color: transparent;
  padding: 1rem 2rem;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  color: #FCFAF9;
  cursor: pointer;
}

button:hover,
button:focus,
button:active {
  background-color: #FCFAF9;
  color: #0D1B1E;
}

.App .Menu {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: space-between;
  bottom: 15px;
  right: 15px;
  position: absolute;
  background-color: #0D1B1E;
  border: 2px solid #0D1B1E;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
}

.App .Menu:hover {
  /* background-color: #364652; */
  border: 2px solid #0D1B1E;
}

.App .Menu .hamburger {
  height: 1px;
  margin: 2px 0;
  border: 2px solid #FCFAF9;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

@media (max-width: 850px) {
  .App .Menu {
    display: flex;
  }
}