.Dashboard .container {
    height: 100vh;
    display: flex;
} 

.Dashpane {
    width: 20rem;
    height: 100%;
    border-right: 2px solid #FCFAF9;
    background-color: #0D1B1E;
}

.Dashpane .option {
    display: flex;
    position: relative;
    align-items: center;
    border-top: .5 solid #FCFAF9;
    border-bottom: 2px solid #FCFAF9;
    padding: 1rem;
    cursor: pointer;
}

.Dashpane .option:hover,
.Dashpane .option:active,
.Dashpane .option:focus {
    background-color: #FCFAF9;
    color: #0D1B1E;
}

.Dashpane .option p {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.Dashpane .option span {
    position: absolute;
    background-color: #FCFAF9;
    color: #0D1B1E;
    padding: 5px;
    right: 15px;
    border-radius: 10px;
}

.Dashpane .option.disable-option {
    cursor: unset;
}

.Dashpane .option.disable-option:hover,
.Dashpane .option.disable-option:focus,
.Dashpane .option.disable-option:active {
    background-color: #0D1B1E; 
    color: #FCFAF9;
}

@media (max-width: 850px) {
    .Dashpane {
        display: none;
    }
}