.SwipeWindow {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.SwipeWindow .swipe {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: #FCFAF9;
    border: 2px solid #FCFAF9;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

.SwipeWindow .left-swipe {
    position: absolute;
    top: 40%;
    left: 20px;
}

.SwipeWindow .right-swipe {
    position: absolute;
    top: 40%;
    right: 20px;
}

.SwipeWindow .swipe-card {
    border: 2px solid #FCFAF9;
    background-color: #0D1B1E;
    border-radius: 5px;
    width: 85%;
}

.Question {
    padding: 1rem 2rem;
}

.Question li {
    display: flex;
    align-items: center;
    list-style: none;
}

.Question li input {
    margin: 1rem;
}

.Question .actions {
    display: flex;
}

.Question .actions button {
    margin: 1rem;
}

.Question textarea {
    width: 100%;
    margin: 1rem 0;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    resize: none;
    border: 2px solid #FCFAF9;
    color: #0D1B1E;
    border-radius: 5px;
    background-color: #FCFAF9;
}

@media (max-width: 850px) {
    .SwipeWindow .left-swipe {
        display: none;
    }

    .SwipeWindow .right-swipe {
        display: none;
    }
}