.SwipeWindow {
    flex-grow: 1;
    padding:    ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SwipeWindow .swipe {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: #FCFAF9;
    border: 2px solid #FCFAF9;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

.SwipeWindow .left-swipe {
    position: absolute;
    top: 40%;
    left: 20px;
}

.SwipeWindow .right-swipe {
    position: absolute;
    top: 40%;
    right: 20px;
}

.SwipeWindow .swipe-card {
    border: 2px solid #FCFAF9;
    height: 30rem;
    width: 30rem;
    background-color: red;
}

@media (max-width: 600px) {
    .SwipeWindow .left-swipe {
        display: none;
    }

    .SwipeWindow .right-swipe {
        display: none;
    }
}